In [2]:
import pandas as pd
import numpy as np 
from functools import reduce

In [3]:
dataset = pd.read_csv("airlines.csv")

In [4]:
dataset.head()

  carrier                    name
0      9E       Endeavor Air Inc.
1      AA  American Airlines Inc.
2      AS    Alaska Airlines Inc.
3      B6         JetBlue Airways
4      DL    Delta Air Lines Inc.

In [5]:
dataset = pd.read_csv("flights.csv")

In [6]:
dataset.head()

,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,tailnum,flight,origin,dest,air_time,distance,hour,minute
0,2013,1,1,517.0,2.0,830.0,11.0,UA,N14228,1545,EWR,IAH,227.0,1400,5.0,17.0
1,2013,1,1,533.0,4.0,850.0,20.0,UA,N24211,1714,LGA,IAH,227.0,1416,5.0,33.0
2,2013,1,1,542.0,2.0,923.0,33.0,AA,N619AA,1141,JFK,MIA,160.0,1089,5.0,42.0
3,2013,1,1,544.0,-1.0,1004.0,-18.0,B6,N804JB,725,JFK,BQN,183.0,1576,5.0,44.0
4,2013,1,1,554.0,-6.0,812.0,-25.0,DL,N668DN,461,LGA,ATL,116.0,762,5.0,54.0

In [7]:
df1 = pd.read_csv("airlines.csv")
df2 = pd.read_csv("flights.csv")

In [8]:
df1.info

<bound method DataFrame.info of    carrier                         name
0       9E            Endeavor Air Inc.
1       AA       American Airlines Inc.
2       AS         Alaska Airlines Inc.
3       B6              JetBlue Airways
4       DL         Delta Air Lines Inc.
5       EV     ExpressJet Airlines Inc.
6       F9       Frontier Airlines Inc.
7       FL  AirTran Airways Corporation
8       HA       Hawaiian Airlines Inc.
9       MQ                    Envoy Air
10      OO        SkyWest Airlines Inc.
11      UA        United Air Lines Inc.
12      US              US Airways Inc.
13      VX               Virgin America
14      WN       Southwest Airlines Co.
15      YV           Mesa Airlines Inc.>

In [9]:
df1.axes

[RangeIndex(start=0, stop=16, step=1),
 Index(['carrier', 'name'], dtype='object')]

In [10]:
newdf = df1.merge(df2, how='right')
print(newdf)

       carrier                    name  year  month  day  dep_time  dep_delay  \
0           UA   United Air Lines Inc.  2013      1    1     517.0        2.0
1           UA   United Air Lines Inc.  2013      1    1     533.0        4.0
2           AA  American Airlines Inc.  2013      1    1     542.0        2.0
3           B6         JetBlue Airways  2013      1    1     544.0       -1.0
4           DL    Delta Air Lines Inc.  2013      1    1     554.0       -6.0
...        ...                     ...   ...    ...  ...       ...        ...
336771      9E       Endeavor Air Inc.  2013      9   30       NaN        NaN
336772      9E       Endeavor Air Inc.  2013      9   30       NaN        NaN
336773      MQ               Envoy Air  2013      9   30       NaN        NaN
336774      MQ               Envoy Air  2013      9   30       NaN        NaN
336775      MQ               Envoy Air  2013      9   30       NaN        NaN

        arr_time  arr_delay tailnum  flight origin dest  air_time  distance  \
0          830.0       11.0  N14228    1545    EWR  IAH     227.0      1400
1          850.0       20.0  N24211    1714    LGA  IAH     227.0      1416
2          923.0       33.0  N619AA    1141    JFK  MIA     160.0      1089
3         1004.0      -18.0  N804JB     725    JFK  BQN     183.0      1576
4          812.0      -25.0  N668DN     461    LGA  ATL     116.0       762
...          ...        ...     ...     ...    ...  ...       ...       ...
336771       NaN        NaN            3393    JFK  DCA       NaN       213
336772       NaN        NaN            3525    LGA  SYR       NaN       198
336773       NaN        NaN  N535MQ    3461    LGA  BNA       NaN       764
336774       NaN        NaN  N511MQ    3572    LGA  CLE       NaN       419
336775       NaN        NaN  N839MQ    3531    LGA  RDU       NaN       431

        hour  minute
0        5.0    17.0
1        5.0    33.0
2        5.0    42.0
3        5.0    44.0
4        5.0    54.0
...      ...     ...
336771   NaN     NaN
336772   NaN     NaN
336773   NaN     NaN
336774   NaN     NaN
336775   NaN     NaN

[336776 rows x 17 columns]

In [11]:
newdf = df1.combine_first(other=df2)

In [12]:
df = reduce(lambda x, y: 
 x.combine_first(y), 
 [df1, df2])

In [13]:
print(newdf)

        air_time  arr_delay  arr_time carrier  day  dep_delay  dep_time dest  \
0          227.0       11.0     830.0      9E    1        2.0     517.0  IAH
1          227.0       20.0     850.0      AA    1        4.0     533.0  IAH
2          160.0       33.0     923.0      AS    1        2.0     542.0  MIA
3          183.0      -18.0    1004.0      B6    1       -1.0     544.0  BQN
4          116.0      -25.0     812.0      DL    1       -6.0     554.0  ATL
...          ...        ...       ...     ...  ...        ...       ...  ...
336771       NaN        NaN       NaN      9E   30        NaN       NaN  DCA
336772       NaN        NaN       NaN      9E   30        NaN       NaN  SYR
336773       NaN        NaN       NaN      MQ   30        NaN       NaN  BNA
336774       NaN        NaN       NaN      MQ   30        NaN       NaN  CLE
336775       NaN        NaN       NaN      MQ   30        NaN       NaN  RDU

        distance  flight  hour  minute  month                    name origin  \
0           1400    1545   5.0    17.0      1       Endeavor Air Inc.    EWR
1           1416    1714   5.0    33.0      1  American Airlines Inc.    LGA
2           1089    1141   5.0    42.0      1    Alaska Airlines Inc.    JFK
3           1576     725   5.0    44.0      1         JetBlue Airways    JFK
4            762     461   5.0    54.0      1    Delta Air Lines Inc.    LGA
...          ...     ...   ...     ...    ...                     ...    ...
336771       213    3393   NaN     NaN      9                     NaN    JFK
336772       198    3525   NaN     NaN      9                     NaN    LGA
336773       764    3461   NaN     NaN      9                     NaN    LGA
336774       419    3572   NaN     NaN      9                     NaN    LGA
336775       431    3531   NaN     NaN      9                     NaN    LGA

       tailnum  year
0       N14228  2013
1       N24211  2013
2       N619AA  2013
3       N804JB  2013
4       N668DN  2013
...        ...   ...
336771          2013
336772          2013
336773  N535MQ  2013
336774  N511MQ  2013
336775  N839MQ  2013

[336776 rows x 17 columns]

In [14]:
df3 = pd.read_csv("airports.csv")
df4 = pd.read_csv("planes.csv")
df5 = pd.read_csv("weather.csv")

In [15]:
print(df3)

      faa                           name        lat         lon   alt  tz dst
0     04G              Lansdowne Airport  41.130472  -80.619583  1044  -5   A
1     06A  Moton Field Municipal Airport  32.460572  -85.680028   264  -5   A
2     06C            Schaumburg Regional  41.989341  -88.101243   801  -6   A
3     06N                Randall Airport  41.431912  -74.391561   523  -5   A
4     09J          Jekyll Island Airport  31.074472  -81.427778    11  -4   A
...   ...                            ...        ...         ...   ...  ..  ..
1392  ZUN                     Black Rock  35.083228 -108.791778  6454  -7   A
1393  ZVE         New Haven Rail Station  41.298669  -72.925992     7  -5   A
1394  ZWI      Wilmington Amtrak Station  39.736667  -75.551667     0  -5   A
1395  ZWU       Washington Union Station  38.897460  -77.006430    76  -5   A
1396  ZYP                   Penn Station  40.750500  -73.993500    35  -5   A

[1397 rows x 7 columns]

# Northernmost airports in the United States

Some Northernmost cities in the United States are
Albany,Amsterdam,Auburn,Batavia,Beacon etc.

In [16]:
northernmost= ['Atmautluak Airport','Aniak Airport','Lake Hood Seaplane Base','Unalaska','Jack Northrop Fld Hawthorne Muni']

In [18]:
print(northernmost)

['Atmautluak Airport', 'Aniak Airport', 'Lake Hood Seaplane Base', 'Unalaska', 'Jack Northrop Fld Hawthorne Muni']

#  Easternmost airports in the United States

Some Easternmost cities in the United States are New Haven,New York City,Newark,New Jersey,Newport News etc.

In [19]:
easternmost = ['Washington Dulles Intl','Bangor Intl','Block Island State Airport','Tulip City Airport','Georgetown County Airport']

In [20]:
print(easternmost)

['Washington Dulles Intl', 'Bangor Intl', 'Block Island State Airport', 'Tulip City Airport', 'Georgetown County Airport']

# Windiest weather in New York area airport

In February 2013 North American blizzard, also known as Winter Storm Nemo and the Blizzard of 2013. By February 8, the low-pressure system had moved into Georgia.[31] Both the system in the Gulf of Mexico and the system in the Midwestern United States were supported by the same shortwave trough. Due to blocking steering patterns, both storms began to gravitate towards the Eastern Seaboard.
so accordng to my research Georgetown County Airport On February 12th,2013 had the windiest weather in New York area airport